//pipeline defaults
params.mate = "" //* @dropdown @options:"single","pair"
params.genome_build = "" //* @dropdown @options:"human_hg19_refseq, human_hg38_gencode_v28, human_hg38_gencode_v34, mouse_mm10_refseq, mouse_mm10_gencode_m25, rat_rn6_refseq, rat_rn6_ensembl_v86, zebrafish_GRCz11_ensembl_v95, zebrafish_GRCz11_refseq, zebrafish_GRCz11_v4.3.2, c_elegans_ce11_ensembl_ws245, s_cerevisiae_sacCer3_refseq, e_coli_ASM584v2_refseq, s_pombe_ASM294v2_ensembl_v31, s_pombe_ASM294v2_ensembl_v51, d_melanogaster_dm6_refseq, mousetest_mm10, custom"
params.run_FastQC =  "no"  //* @dropdown @options:"yes","no"
params.run_Adapter_Removal =  "no"  //* @dropdown @options:"yes","no" @show_settings:"Adapter_Removal"
params.run_Trimmer =  "no"  //* @dropdown @options:"yes","no" @show_settings:"Trimmer"
params.run_Quality_Filtering =  "no"  //* @dropdown @options:"yes","no" @show_settings:"Quality_Filtering"
params.run_Sequential_Mapping =  "no"  //* @dropdown @options:"yes","no" @show_settings:"Sequential_Mapping", "Download_build_sequential_mapping_indexes"
params.run_STAR = "yes" //* @dropdown @options:"yes","no" @show_settings:"Map_STAR, Check_Build_STAR_Index"
params.run_Download_Genomic_Sources = "no" //* @dropdown @options:"yes","no"  
params.run_summarizeOverlaps = "yes" //* @dropdown @options:"yes","no" 

includeConfig 'conf/base.config'
profiles {
  test { includeConfig 'conf/test.config' }
  docker { 
        process.container = "dolphinnext/tasic2018_scrnaseq_pipeline:1.0"
        params.DOWNDIR="$HOME" // path where genome data will be saved and it should be different than run directory
        docker.enabled = true 
        docker.runOptions = "-v ${params.DOWNDIR}:${params.DOWNDIR}" 
            
  }
  singularity { 
        process.container = "dolphinnext/tasic2018_scrnaseq_pipeline:1.0"
        params.DOWNDIR="$HOME" // path where genome data will be saved and it should be different than run directory
        singularity.enabled = true 
        singularity.runOptions = "--bind ${params.DOWNDIR}" 
  }
}
